.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  justify-content: center;

}
.login small { 
color: red;

}

.register{
  display: flex;;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}